## 0. 데이터 불러오기

In [1]:
import requests
import io
import requests
import pandas as pd


url = "https://apihub.kma.go.kr/api/typ01/url/kma_sfcdd3.php?tm1=20140101&tm2=20240615&stn=0&help=0&authKey=Y6kSGWbOQwupEhlmziMLPg"
response = requests.get(url)  # GET 요청

# 데이터 공백으로 파싱하여 저장
data = pd.read_csv(io.StringIO(response.text), sep='\s+', skiprows=5, header=None)

# 주어진 콜럼 이름
data.columns = [
    "TM", "STN", "WS_AVG", "WR_DAY", "WD_MAX", "WS_MAX", "WS_MAX_TM",
    "WD_INS", "WS_INS", "WS_INS_TM", "TA_AVG", "TA_MAX", "TA_MAX_TM",
    "TA_MIN", "TA_MIN_TM", "TD_AVG", "TS_AVG", "TG_MIN", "HM_AVG",
    "HM_MIN", "HM_MIN_TM", "PV_AVG", "EV_S", "EV_L", "FG_DUR", "PA_AVG",
    "PS_AVG", "PS_MAX", "PS_MAX_TM", "PS_MIN", "PS_MIN_TM", "CA_TOT",
    "SS_DAY", "SS_DUR", "SS_CMB", "SI_DAY", "SI_60M_MAX", "SI_60M_MAX_TM",
    "RN_DAY", "RN_D99", "RN_DUR", "RN_60M_MAX", "RN_60M_MAX_TM",
    "RN_10M_MAX", "RN_10M_MAX_TM", "RN_POW_MAX", "RN_POW_MAX_TM",
    "SD_NEW", "SD_NEW_TM", "SD_MAX", "SD_MAX_TM", "TE_05", "TE_10",
    "TE_15", "TE_30", "TE_50"
]

# 마지막 한 줄 삭제
data = data.iloc[:-1]

# DataFrame을 CSV 파일로 저장
data.to_csv('./csv/weather_new.csv', index=False)

data

C:\Users\sunk2\AppData\Local\Temp\ipykernel_25468\551161296.py:11: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(io.StringIO(response.text), sep='\s+', skiprows=5, header=None)

,TM,STN,WS_AVG,WR_DAY,WD_MAX,WS_MAX,WS_MAX_TM,WD_INS,WS_INS,WS_INS_TM,...,RN_POW_MAX_TM,SD_NEW,SD_NEW_TM,SD_MAX,SD_MAX_TM,TE_05,TE_10,TE_15,TE_30,TE_50
0,20140101,90.0,5.4,4691.0,27.0,9.8,2224.0,27.0,18.0,2111.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-99.0,-99.0,-99.0,-99.0,-99.0
1,20140101,95.0,3.2,2741.0,23.0,7.3,1527.0,23.0,12.5,1611.0,...,-9.0,-9.0,-9.0,0.5,1.0,2.2,5.6,-99.0,-99.0,-99.0
2,20140101,98.0,2.6,2257.0,25.0,7.9,1541.0,25.0,13.7,1259.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-99.0,-99.0,-99.0,-99.0,-99.0
3,20140101,99.0,2.0,1742.0,23.0,6.1,1442.0,25.0,10.0,1521.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-99.0,-99.0,-99.0,-99.0,-99.0
4,20140101,100.0,10.6,9158.0,27.0,15.5,1837.0,27.0,22.7,1935.0,...,-9.0,-9.0,-9.0,2.4,0.0,-99.0,-99.0,-99.0,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363022,20240615,288.0,0.8,728.0,23.0,2.9,1637.0,36.0,5.7,1855.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-99.0,-99.0,-99.0,-99.0,-99.0
363023,20240615,289.0,1.2,1003.0,29.0,3.9,1916.0,32.0,6.9,1942.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-99.0,-99.0,-99.0,-99.0,-99.0
363024,20240615,294.0,1.3,1118.0,20.0,4.4,2011.0,14.0,10.0,2007.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-99.0,-99.0,-99.0,-99.0,-99.0
363025,20240615,295.0,1.4,1200.0,27.0,2.9,1204.0,25.0,5.3,1858.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-99.0,-99.0,-99.0,-99.0,-99.0
363026,20240615,296.0,2.1,1799.0,18.0,5.8,1541.0,18.0,9.1,1538.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-99.0,-99.0,-99.0,-99.0,-99.0

In [24]:
url = "https://apihub.kma.go.kr/api/typ01/url/stn_inf.php?inf=SFC&stn=&tm=202211300900&help=0&authKey=-uv3O-FtR1Gr9zvhbYdRMA"
response = requests.get(url)  # GET 요청


# 데이터 공백으로 파싱하여 저장
data = pd.read_csv(io.StringIO(response.text), sep='\s+', skiprows=2)



# 주어진 콜럼 이름
data.columns = [
    "STN_ID", "LON", "LAT", "STN_SP", "HT", "HT_PA", "HT_TA", "HT_WD", "HT_RN",
    "STN_CD", "STN_KO", "STN_EN", "STN_AD", "FCT_ID", "LAW_ID", "BASIN"
]

# 데이터 마지막 한 줄 삭제
data = data.iloc[:-1]

# DataFrame을 CSV 파일로 저장
data.to_csv('stn.csv', index=False)
data

,STN_ID,LON,LAT,STN_SP,HT,HT_PA,HT_TA,HT_WD,HT_RN,STN_CD,STN_KO,STN_EN,STN_AD,FCT_ID,LAW_ID,BASIN
0,90,128.56473,38.25085,35100.0,17.53,18.73,1.7,10.0,1.4,90.0,속초,Sokcho,11D20401,5182033035,----,NaN
1,93,127.75443,37.94738,31201.0,95.78,96.78,1.5,10.0,1.4,101.0,북춘천,Bukchuncheon,11D10301,5111025024,----,NaN
2,95,127.30420,38.14787,31110.0,155.48,156.98,1.8,13.0,1.5,101.0,철원,Cheorwon,11D10101,5178025624,----,NaN
3,98,127.06070,37.90188,22200.0,115.62,116.74,1.7,10.0,1.0,119.0,동두천,Dongducheon,11B20401,4125010300,----,NaN
4,99,126.76648,37.88589,22300.0,30.59,31.99,1.7,10.0,1.0,119.0,파주,Paju,11B20305,4148025025,----,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,285,128.16994,35.56505,76200.0,26.72,33.20,1.5,10.0,0.5,152.0,합천,Hapcheon,11H20503,4889025021,----,NaN
92,288,128.74412,35.49147,76300.0,8.31,12.50,2.0,10.0,1.3,152.0,밀양,Miryang,11H20601,4827010200,----,NaN
93,289,127.87910,35.41300,76400.0,138.22,138.80,1.6,10.0,0.6,155.0,산청,Sancheong,11H20703,4886025023,----,NaN
94,294,128.60459,34.88818,76500.0,44.83,46.70,1.7,10.0,0.6,159.0,거제,Geoje,11H20403,4831010800,----,NaN
95,295,127.92641,34.81662,76600.0,45.71,47.01,1.8,10.0,0.8,159.0,남해,Namhae,11H20405,4884031021,----,NaN

In [ ]:
stn=