In [1]:
import pandas as pd

crop = pd.read_csv('./csv/crop_growing_conditions.csv', encoding='cp949')

weather_prod = pd.read_csv('./csv/final_merged_production_weather_data_new.csv')

weather=pd.read_csv('./csv/weather_area_new.csv')

weather_prod

,YEAR,MONTH,지역,작물명,생산량,RN_DAY,WS_AVG,PA_AVG,SS_DAY,HM_AVG,TA_AVG
0,2014.0,1.0,충청남도,가을일반무,76430.0,-6.538065,1.423226,1019.205806,5.894194,67.273548,-0.660645
1,2014.0,2.0,충청남도,가을일반무,76430.0,-6.762857,1.641429,1018.752143,5.300714,64.370000,1.975714
2,2014.0,3.0,충청남도,가을일반무,76430.0,-3.899355,1.939355,1014.031613,6.736774,67.390968,6.933548
3,2014.0,4.0,충청남도,가을일반무,76430.0,-3.690000,1.706667,1011.242000,7.213333,64.262000,12.700667
4,2014.0,5.0,충청남도,가을일반무,76430.0,-5.071613,2.130323,1005.436129,9.170323,66.284516,17.570968
...,...,...,...,...,...,...,...,...,...,...,...
8859,2022.0,8.0,전라남도,호박,45586.0,-0.153598,2.289330,994.423325,4.258313,83.409926,25.352109
8860,2022.0,9.0,전라남도,호박,45586.0,0.255641,2.533333,1006.195641,5.245385,78.125641,22.156923
8861,2022.0,10.0,전라남도,호박,45586.0,-5.899256,2.630521,1015.476923,7.698263,69.898015,15.491563
8862,2022.0,11.0,전라남도,호박,45586.0,-4.720513,2.349487,1014.975385,6.110769,70.400769,11.465897
8863,2022.0,12.0,전라남도,호박,45586.0,-4.219603,2.875186,1018.448635,5.264764,65.958065,1.982878

In [2]:
weather_prod['작물명'].unique()

array(['가을일반무', '가을총각무', '건고추', '고랭지감자', '고랭지무', '고랭지배추', '고추', '기타잡곡',
       '노지가을무', '노지가을배추', '노지겨울무', '노지겨울배추', '노지대파', '노지딸기', '노지무',
       '노지배추', '노지봄무', '노지봄배추', '노지상추', '노지수박', '노지시금치', '노지오이', '노지쪽파',
       '노지참외', '노지파', '노지호박', '녹두', '당근', '대파', '딸기', '마늘', '메밀', '무',
       '미곡', '배', '배추', '봄감자', '사과', '상추', '생강', '생산량', '수박', '시금치',
       '시설대파', '시설딸기', '시설무', '시설배추', '시설상추', '시설수박', '시설시금치', '시설오이',
       '시설쪽파', '시설참외', '시설토마토', '시설파', '시설호박', '양배추', '양파', '오이', '옥수수',
       '일반봄무', '일반봄배추', '잡곡', '조미채소', '쪽파', '참외', '콩', '토마토', '파', '팥',
       '풋고추', '호박'], dtype=object)

In [3]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [4]:
crop

       작물명     지역  파종기  수확기  발아기 최저 온도  발아기 최고 온도  생육기 최저 온도  생육기 최고 온도
0    가을일반무   충청남도   10   11         15         20         13         25
1    가을총각무    경기도   10   11         15         20         13         25
2      건고추   경상북도    4   11         20         25         25         30
3    고랭지감자    강원도    9    0         15         20         18         25
4     고랭지무    강원도    7    8         13         18         15         20
5    고랭지배추    강원도    6   10         13         18         15         20
6       고추   경상남도    4   11         20         25         25         30
7     기타잡곡    제주도    5    9         18         22         20         25
8    노지가을무   충청남도   10   11         15         20         13         25
9   노지가을배추   전라남도   10   11         15         20         13         25
10   노지겨울무    제주도   12    3         10         15          5         20
11  노지겨울배추   전라남도   12   12         10         15          5         20
12    노지대파   전라남도   11    2         15         20         18         24
13    노지딸기   충청남도    5    7         15         20         18         25
14     노지무    제주도    5    7         10         15         15         20
15    노지배추   전라남도    5    6         15         20         18         25
16    노지봄무    강원도    6    7         10         15         15         20
17   노지봄배추    강원도    5    6         10         15         15         20
18    노지상추    경기도    5    5         10         20         15         25
19    노지수박   경상북도    8    9         20         25         25         30
20   노지시금치   경상남도    1   12         10         20         15         25
21    노지오이    강원도    5    7         20         25         25         30
22    노지쪽파   전라남도    1   12         15         20         20         25
23    노지참외   충청남도    7    8         20         25         25         30
24   노지토마토  서울특별시    6    9         18         22         20         25
25     노지파   전라남도    9    4         15         20         18         25
26    노지호박   전라남도    7    8         20         25         25         30
27      녹두   전라남도    7   10         20         25         25         30
28      당근    제주도   11    3         10         20         15         25
29      대파   전라남도    6    7         15         20         18         24
30      딸기   경상남도   11    4         15         20         18         25
31      마늘   경상북도    5    6         10         15         15         25
32      메밀    제주도    6   11         18         22         20         25
33       무    제주도    9   12         15         20         15         25
34      미곡   전라남도    8    9         20         25         25         30
35       배   전라남도    8   10         15         20         20         25
36      배추   전라남도   10   11         15         20         15         25
37     봄감자   경상북도    5    7         15         20         18         25
38      사과   경상북도    7    8         15         20         20         25
39      상추    경기도    9   11         10         20         15         25
40      생강   경상북도    8   10         20         25         25         30
41      수박   충청남도    6    8         20         25         25         30
42     시금치    경기도   10    3         10         20         15         25
43     양배추    제주도   12    1         15         20         18         25
44      양파   전라남도    5    6         10         15         15         25
45      오이   충청남도    5    6         20         25         25         30
46     옥수수    강원도    5   10         20         25         25         30
47    일반봄무    경기도    5    7         10         15         15         20
48   일반봄배추   경상북도    6    7         10         15         15         20
49      잡곡    강원도    9   10         18         22         20         25
50    조미채소   전라남도    3    7         15         20         18         25
51      쪽파   전라남도   10   11         10         15         15         20
52      참외   경상북도    4    6         20         25         25         30
53       콩   전라북도    8   10         18         22         20         25
54     토마토   충청남도    6    7         18         22         20         25
55       파   전라남도   10    4         15         20         18         24
56       팥   전라남도    6    8         18         22         20         25
57     풋고추   경상남도    6    7         20         25         25         30
58      호박   전라남도    7   11         18         22         20         25

## 날씨 데이터를 작물별로 달에 맞춰서 자르기

In [5]:
crop['파종기'] = pd.to_numeric(crop['파종기'], errors='coerce')
crop['수확기'] = pd.to_numeric(crop['수확기'], errors='coerce')

In [6]:
filtered_data = pd.DataFrame()

In [7]:
for index, row in crop.iterrows():
    crop_name = row['작물명']
    region = row['지역']
    planting_month = row['파종기']
    harvest_month = row['수확기']
    
    filtered = weather_prod[
        (weather_prod['작물명'] == crop_name) & 
        (weather_prod['지역'] == region)
    ]
    
    if planting_month <= harvest_month:
        filtered = filtered[
            (filtered['MONTH'] >= planting_month) & 
            (filtered['MONTH'] <= harvest_month)
        ]
    else:
        filtered = filtered[
            (filtered['MONTH'] >= planting_month) | 
            (filtered['MONTH'] <= harvest_month)
        ]
    
    # Concatenate the filtered data to the filtered_data DataFrame
    filtered_data = pd.concat([filtered_data, filtered], ignore_index=True)

filtered_data

,YEAR,MONTH,지역,작물명,생산량,RN_DAY,WS_AVG,PA_AVG,SS_DAY,HM_AVG,TA_AVG
0,2014.0,10.0,충청남도,가을일반무,76430.0,-2.307097,1.530968,1013.685806,7.192258,74.468387,14.285806
1,2014.0,11.0,충청남도,가을일반무,76430.0,-3.879333,1.416000,1015.718000,5.134667,76.842000,7.964000
2,2015.0,10.0,충청남도,가을일반무,123235.0,-3.615484,1.340000,1012.965161,7.054839,77.261935,14.465161
3,2015.0,11.0,충청남도,가을일반무,123235.0,1.386441,1.361017,1017.412429,2.260452,86.298305,9.576836
4,2016.0,10.0,충청남도,가을일반무,67663.0,-1.828495,1.263978,1012.632796,4.334409,80.465591,15.206989
...,...,...,...,...,...,...,...,...,...,...,...
1936,2022.0,7.0,전라남도,호박,45586.0,2.309181,2.424566,995.163275,6.081390,82.142432,25.726303
1937,2022.0,8.0,전라남도,호박,45586.0,-0.153598,2.289330,994.423325,4.258313,83.409926,25.352109
1938,2022.0,9.0,전라남도,호박,45586.0,0.255641,2.533333,1006.195641,5.245385,78.125641,22.156923
1939,2022.0,10.0,전라남도,호박,45586.0,-5.899256,2.630521,1015.476923,7.698263,69.898015,15.491563
1940,2022.0,11.0,전라남도,호박,45586.0,-4.720513,2.349487,1014.975385,6.110769,70.400769,11.465897

In [8]:
filtered_data['작물명'].unique()

array(['가을일반무', '가을총각무', '건고추', '고랭지감자', '고랭지무', '고랭지배추', '고추', '기타잡곡',
       '노지가을무', '노지가을배추', '노지겨울무', '노지겨울배추', '노지대파', '노지딸기', '노지무',
       '노지배추', '노지봄무', '노지봄배추', '노지상추', '노지수박', '노지시금치', '노지오이', '노지쪽파',
       '노지참외', '노지파', '노지호박', '녹두', '당근', '대파', '딸기', '마늘', '메밀', '무',
       '미곡', '배', '배추', '봄감자', '사과', '상추', '생강', '수박', '시금치', '양배추', '양파',
       '오이', '옥수수', '일반봄무', '일반봄배추', '잡곡', '조미채소', '쪽파', '참외', '콩', '토마토',
       '파', '팥', '풋고추', '호박'], dtype=object)

In [9]:
filtered_data[filtered_data['작물명']=='당근']

,YEAR,MONTH,지역,작물명,생산량,RN_DAY,WS_AVG,PA_AVG,SS_DAY,HM_AVG,TA_AVG
990,2014.0,1.0,제주도,당근,57486.0,-4.838710,4.240323,1019.454032,5.808871,61.774194,6.884677
991,2014.0,2.0,제주도,당근,57486.0,0.275893,4.185714,1017.626786,4.206250,69.898214,7.466964
992,2014.0,3.0,제주도,당근,57486.0,-0.830645,4.399194,1015.129839,6.315323,66.831452,10.684677
993,2014.0,11.0,제주도,당근,57486.0,-2.297500,3.682500,1016.086667,5.811667,69.029167,14.070833
994,2014.0,12.0,제주도,당근,57486.0,-1.119355,5.163710,1019.095968,4.292742,66.133871,6.987903
995,2015.0,1.0,제주도,당근,62814.0,-2.270161,4.810484,1018.712903,4.816935,66.758871,7.237097
996,2015.0,2.0,제주도,당근,62814.0,-2.508929,4.209821,1017.063393,4.682143,65.051786,7.059821
997,2015.0,3.0,제주도,당근,62814.0,-1.262903,3.525806,1016.434677,6.519355,64.954839,10.074194
998,2015.0,11.0,제주도,당근,62814.0,3.707500,3.533333,1017.045000,2.866667,77.794167,14.930000
999,2015.0,12.0,제주도,당근,62814.0,-1.286290,4.108871,1019.545968,3.387903,68.680645,9.687903
1000,2016.0,1.0,제주도,당근,29307.0,-0.601613,4.570161,1019.079839,2.509677,67.919355,5.720968
1001,2016.0,2.0,제주도,당근,29307.0,-1.368966,4.868966,1019.641379,5.167241,62.773276,6.939655
1002,2016.0,3.0,제주도,당근,29307.0,-1.599194,3.484677,1016.241935,6.538710,67.740323,10.386290
1003,2016.0,11.0,제주도,당근,29307.0,-3.087500,3.729167,1016.856667,4.649167,71.114167,13.720000
1004,2016.0,12.0,제주도,당근,29307.0,-2.114516,4.308871,1019.066935,4.285484,68.665323,9.586290
1005,2017.0,1.0,제주도,당근,33668.0,-3.234677,4.467742,1019.528226,4.537903,66.753226,6.653226
1006,2017.0,2.0,제주도,당근,33668.0,-3.335714,4.912500,1018.299107,6.206250,62.751786,6.787500
1007,2017.0,3.0,제주도,당근,33668.0,-3.200806,3.883871,1014.717742,6.270968,61.316935,9.636290
1008,2017.0,11.0,제주도,당근,33668.0,-5.290833,3.516667,1017.599167,5.791667,66.906667,12.663333
1009,2017.0,12.0,제주도,당근,33668.0,-3.288710,4.362903,1020.523387,4.369355,62.953226,6.883065
1010,2018.0,1.0,제주도,당근,30762.0,-1.291935,4.398387,1018.325000,3.892742,69.279839,4.911290
1011,2018.0,2.0,제주도,당근,30762.0,-1.841071,4.325000,1018.075000,4.900000,63.015179,5.508036
1012,2018.0,3.0,제주도,당근,30762.0,-1.150806,3.631452,1014.456452,6.183065,77.630645,11.228226
1013,2018.0,11.0,제주도,당근,30762.0,-4.565000,3.040000,1017.705000,5.696667,69.074167,13.851667
1014,2018.0,12.0,제주도,당근,30762.0,-2.452419,3.960484,1020.658065,3.125806,69.518548,8.757258
1015,2019.0,1.0,제주도,당근,25727.0,-4.875000,4.020161,1020.515323,4.733065,65.313710,6.587097
1016,2019.0,2.0,제주도,당근,25727.0,-3.713393,3.689286,1018.122321,4.670536,65.396429,7.697321
1017,2019.0,3.0,제주도,당근,25727.0,-3.170968,3.739516,1013.163710,6.499194,64.984677,10.709677
1018,2019.0,11.0,제주도,당근,25727.0,-4.699167,3.696667,1016.836667,5.879167,69.404167,14.680833
1019,2019.0,12.0,제주도,당근,25727.0,-2.858065,3.867742,1019.630645,3.898387,68.288710,9.768548
1020,2020.0,1.0,제주도,당근,33801.0,-1.368548,4.011290,1017.248387,3.052419,70.544355,8.721774
1021,2020.0,2.0,제주도,당근,33801.0,-2.365517,3.904310,1019.337931,5.306034,71.005172,9.009483
1022,2020.0,3.0,제주도,당근,33801.0,-2.550806,3.849194,1013.179839,6.838710,68.412097,11.323387
1023,2020.0,11.0,제주도,당근,33801.0,-4.406667,3.525000,1019.284167,5.263333,68.525000,14.195833
1024,2020.0,12.0,제주도,당근,33801.0,-4.191935,3.802419,1020.589516,4.742742,64.433871,7.612097
1025,2021.0,1.0,제주도,당근,47812.0,-0.912097,4.583065,1018.864516,4.383871,68.029032,6.684677
1026,2021.0,2.0,제주도,당근,47812.0,-3.191071,4.483929,1016.250893,5.737500,66.100893,9.295536
1027,2021.0,3.0,제주도,당근,47812.0,-1.045968,3.620161,1014.329839,6.198387,70.306452,12.507258
1028,2021.0,11.0,제주도,당근,47812.0,-4.045000,4.191667,1015.499167,6.127500,65.655000,13.803333
1029,2021.0,12.0,제주도,당근,47812.0,-4.391129,4.546774,1019.900000,4.742742,65.358065,8.808065
1030,2022.0,1.0,제주도,당근,33060.0,-4.925806,4.056452,1018.958871,4.487903,67.859677,6.325806
1031,2022.0,2.0,제주도,당근,33060.0,-4.321429,4.410714,1020.616071,4.920536,61.733036,5.394643
1032,2022.0,3.0,제주도,당근,33060.0,-1.278226,3.766935,1012.891935,5.523387,72.454839,11.470161
1033,2022.0,11.0,제주도,당근,33060.0,-2.209167,3.522500,1015.667500,6.028333,69.901667,15.440000
1034,2022.0,12.0,제주도,당근,33060.0,-3.247581,4.719355,1019.374194,3.258065,66.045161,6.795968

In [10]:
filtered_data['YEAR'] = filtered_data['YEAR'].astype(int)
filtered_data['MONTH'] = filtered_data['MONTH'].astype(int)

In [11]:
weather_prod['지역'].unique()

array(['충청남도', '경기도', '경상북도', '강원도', '경상남도', '제주도', '전라남도', '전라북도'],
      dtype=object)

## 날씨 예측 (SARIMA 모델)
### 1. 충청남도

In [12]:
충청남도_weather = weather[weather['AREA'] == '충청남도']

충청남도_weather['DATE'] = pd.to_datetime(충청남도_weather['TM'], format='%Y%m%d')

충청남도_weather.set_index('DATE', inplace=True)

monthly_avg_temp = 충청남도_weather['TA_AVG'].resample('M').mean().fillna(method='ffill')

충청남도_model=SARIMAX(monthly_avg_temp, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

sarima_result = 충청남도_model.fit(disp=False)

sarima_forecast_steps = 3
sarima_temperature_forecast = sarima_result.forecast(steps=sarima_forecast_steps)

sarima_forecast_dates = pd.date_range(start=monthly_avg_temp.index[-1], periods=sarima_forecast_steps + 1, freq='M')[1:]
충청남도_pred = pd.DataFrame({'DATE': sarima_forecast_dates, 'PREDICTED_TA_AVG': sarima_temperature_forecast.values})

충청남도_pred

C:\Users\sunk2\AppData\Local\Temp\ipykernel_15720\4192031006.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  충청남도_weather['DATE'] = pd.to_datetime(충청남도_weather['TM'], format='%Y%m%d')

        DATE  PREDICTED_TA_AVG
0 2024-07-31         25.405726
1 2024-08-31         26.089357
2 2024-09-30         21.488450

### 경기도

In [13]:
경기도_weather = weather[weather['AREA'] == '경기도']

경기도_weather['DATE'] = pd.to_datetime(경기도_weather['TM'], format='%Y%m%d')

경기도_weather.set_index('DATE', inplace=True)

monthly_avg_temp = 경기도_weather['TA_AVG'].resample('M').mean().fillna(method='ffill')

경기도_model=SARIMAX(monthly_avg_temp, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

sarima_result = 경기도_model.fit(disp=False)

sarima_forecast_steps = 3
sarima_temperature_forecast = sarima_result.forecast(steps=sarima_forecast_steps)

sarima_forecast_dates = pd.date_range(start=monthly_avg_temp.index[-1], periods=sarima_forecast_steps + 1, freq='M')[1:]
경기도_pred = pd.DataFrame({'DATE': sarima_forecast_dates, 'PREDICTED_TA_AVG': sarima_temperature_forecast.values})

경기도_pred

C:\Users\sunk2\AppData\Local\Temp\ipykernel_15720\740547673.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경기도_weather['DATE'] = pd.to_datetime(경기도_weather['TM'], format='%Y%m%d')

        DATE  PREDICTED_TA_AVG
0 2024-07-31         25.619428
1 2024-08-31         25.790288
2 2024-09-30         20.735910

### 경상북도

In [14]:
경상북_weather = weather[weather['AREA'] == '경상북도']

경상북_weather['DATE'] = pd.to_datetime(경상북_weather['TM'], format='%Y%m%d')

경상북_weather.set_index('DATE', inplace=True)

monthly_avg_temp = 경상북_weather['TA_AVG'].resample('M').mean().fillna(method='ffill')

경상북_model=SARIMAX(monthly_avg_temp, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

sarima_result = 경상북_model.fit(disp=False)

sarima_forecast_steps = 3
sarima_temperature_forecast = sarima_result.forecast(steps=sarima_forecast_steps)

sarima_forecast_dates = pd.date_range(start=monthly_avg_temp.index[-1], periods=sarima_forecast_steps + 1, freq='M')[1:]
경상북_pred = pd.DataFrame({'DATE': sarima_forecast_dates, 'PREDICTED_TA_AVG': sarima_temperature_forecast.values})

경상북_pred

C:\Users\sunk2\AppData\Local\Temp\ipykernel_15720\103282134.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경상북_weather['DATE'] = pd.to_datetime(경상북_weather['TM'], format='%Y%m%d')

        DATE  PREDICTED_TA_AVG
0 2024-07-31         25.047863
1 2024-08-31         25.339932
2 2024-09-30         20.500862

### 강원도

In [15]:
강원_weather = weather[weather['AREA'] == '강원도']

강원_weather['DATE'] = pd.to_datetime(강원_weather['TM'], format='%Y%m%d')

강원_weather.set_index('DATE', inplace=True)

monthly_avg_temp = 강원_weather['TA_AVG'].resample('M').mean().fillna(method='ffill')

강원_model=SARIMAX(monthly_avg_temp, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

sarima_result = 강원_model.fit(disp=False)

sarima_forecast_steps = 3
sarima_temperature_forecast = sarima_result.forecast(steps=sarima_forecast_steps)

sarima_forecast_dates = pd.date_range(start=monthly_avg_temp.index[-1], periods=sarima_forecast_steps + 1, freq='M')[1:]
강원_pred = pd.DataFrame({'DATE': sarima_forecast_dates, 'PREDICTED_TA_AVG': sarima_temperature_forecast.values})

강원_pred

C:\Users\sunk2\AppData\Local\Temp\ipykernel_15720\1530407387.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  강원_weather['DATE'] = pd.to_datetime(강원_weather['TM'], format='%Y%m%d')

        DATE  PREDICTED_TA_AVG
0 2024-07-31         24.348255
1 2024-08-31         24.363202
2 2024-09-30         19.384474

### 경상남도

In [16]:
경상남_weather = weather[weather['AREA'] == '경상남도']

경상남_weather['DATE'] = pd.to_datetime(경상남_weather['TM'], format='%Y%m%d')

경상남_weather.set_index('DATE', inplace=True)

monthly_avg_temp = 경상남_weather['TA_AVG'].resample('M').mean().fillna(method='ffill')

경상남_model=SARIMAX(monthly_avg_temp, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

sarima_result = 경상남_model.fit(disp=False)

sarima_forecast_steps = 3
sarima_temperature_forecast = sarima_result.forecast(steps=sarima_forecast_steps)

sarima_forecast_dates = pd.date_range(start=monthly_avg_temp.index[-1], periods=sarima_forecast_steps + 1, freq='M')[1:]
경상남_pred = pd.DataFrame({'DATE': sarima_forecast_dates, 'PREDICTED_TA_AVG': sarima_temperature_forecast.values})

경상남_pred

C:\Users\sunk2\AppData\Local\Temp\ipykernel_15720\1186592753.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경상남_weather['DATE'] = pd.to_datetime(경상남_weather['TM'], format='%Y%m%d')

        DATE  PREDICTED_TA_AVG
0 2024-07-31         25.641932
1 2024-08-31         26.447722
2 2024-09-30         21.878726

### 제주도

In [17]:
제주_weather = weather[weather['AREA'] == '제주특별자치도']

제주_weather['DATE'] = pd.to_datetime(제주_weather['TM'], format='%Y%m%d')

제주_weather.set_index('DATE', inplace=True)

monthly_avg_temp = 제주_weather['TA_AVG'].resample('M').mean().fillna(method='ffill')

제주_model=SARIMAX(monthly_avg_temp, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

sarima_result = 제주_model.fit(disp=False)

sarima_forecast_steps = 3
sarima_temperature_forecast = sarima_result.forecast(steps=sarima_forecast_steps)

sarima_forecast_dates = pd.date_range(start=monthly_avg_temp.index[-1], periods=sarima_forecast_steps + 1, freq='M')[1:]
제주_pred = pd.DataFrame({'DATE': sarima_forecast_dates, 'PREDICTED_TA_AVG': sarima_temperature_forecast.values})

제주_pred

C:\Users\sunk2\AppData\Local\Temp\ipykernel_15720\151455144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  제주_weather['DATE'] = pd.to_datetime(제주_weather['TM'], format='%Y%m%d')

        DATE  PREDICTED_TA_AVG
0 2024-07-31         26.012078
1 2024-08-31         27.761229
2 2024-09-30         24.296946

### 전라남도

In [18]:
전라남_weather = weather[weather['AREA'] == '전라남도']

전라남_weather['DATE'] = pd.to_datetime(전라남_weather['TM'], format='%Y%m%d')

전라남_weather.set_index('DATE', inplace=True)

monthly_avg_temp = 전라남_weather['TA_AVG'].resample('M').mean().fillna(method='ffill')

전라남_model=SARIMAX(monthly_avg_temp, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

sarima_result = 전라남_model.fit(disp=False)

sarima_forecast_steps = 3
sarima_temperature_forecast = sarima_result.forecast(steps=sarima_forecast_steps)

sarima_forecast_dates = pd.date_range(start=monthly_avg_temp.index[-1], periods=sarima_forecast_steps + 1, freq='M')[1:]
전라남_pred = pd.DataFrame({'DATE': sarima_forecast_dates, 'PREDICTED_TA_AVG': sarima_temperature_forecast.values})

전라남_pred

C:\Users\sunk2\AppData\Local\Temp\ipykernel_15720\2683509229.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  전라남_weather['DATE'] = pd.to_datetime(전라남_weather['TM'], format='%Y%m%d')

        DATE  PREDICTED_TA_AVG
0 2024-07-31         24.835428
1 2024-08-31         26.250957
2 2024-09-30         22.246643

### 전라북도

In [19]:
전라북_weather = weather[weather['AREA'] == '전라북도']

전라북_weather['DATE'] = pd.to_datetime(전라북_weather['TM'], format='%Y%m%d')

전라북_weather.set_index('DATE', inplace=True)

monthly_avg_temp = 전라북_weather['TA_AVG'].resample('M').mean().fillna(method='ffill')

전라북_model=SARIMAX(monthly_avg_temp, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

sarima_result = 전라북_model.fit(disp=False)

sarima_forecast_steps = 3
sarima_temperature_forecast = sarima_result.forecast(steps=sarima_forecast_steps)

sarima_forecast_dates = pd.date_range(start=monthly_avg_temp.index[-1], periods=sarima_forecast_steps + 1, freq='M')[1:]
전라북_pred = pd.DataFrame({'DATE': sarima_forecast_dates, 'PREDICTED_TA_AVG': sarima_temperature_forecast.values})

전라북_pred

C:\Users\sunk2\AppData\Local\Temp\ipykernel_15720\3853302773.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  전라북_weather['DATE'] = pd.to_datetime(전라북_weather['TM'], format='%Y%m%d')

        DATE  PREDICTED_TA_AVG
0 2024-07-31         25.517415
1 2024-08-31         26.198830
2 2024-09-30         21.516736

## 작물 추천 여부

In [23]:
def check_crop_suitability_sarima(forecast_temp, forecast_date, crop_conditions):
    suitable_crops = []
    reasons = {}
    forecast_month = forecast_date.month
    for _, row in crop_conditions.iterrows():
        crop_name = row['작물명']
        planting_month = row['파종기']
        harvesting_month = row['수확기']
        
        reasons[crop_name] = []
        
        if not (planting_month -1 <= forecast_month <= harvesting_month +1):
            reasons[crop_name].append(f"Not within planting ({planting_month}) and harvesting ({harvesting_month}) period.")
        
        if not (row['생육기 최저 온도']-1 <= forecast_temp <= row['생육기 최고 온도']+1):
            reasons[crop_name].append(f"Temperature {forecast_temp:.2f}°C not in growing range ({row['생육기 최저 온도']}°C - {row['생육기 최고 온도']}°C).")
        
        if not reasons[crop_name]:
            suitable_crops.append(crop_name)
        else:
            reasons[crop_name] = ", ".join(reasons[crop_name])
    
    return suitable_crops, reasons

In [24]:
sarima_model = SARIMAX(monthly_avg_temp, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

sarima_result = sarima_model.fit(disp=False)

sarima_forecast_steps = 3
sarima_temperature_forecast = sarima_result.forecast(steps=sarima_forecast_steps)

sarima_forecast_dates = pd.date_range(start=monthly_avg_temp.index[-1], periods=sarima_forecast_steps + 1, freq='M')[1:]
sarima_forecasted_temp_df = pd.DataFrame({'DATE': sarima_forecast_dates, 'PREDICTED_TA_AVG': sarima_temperature_forecast.values})

In [25]:
충청남_crops = crop[crop['지역'] == '충청남도']

전체_suit=[]



충청남_suit = []
reasons_forecast = []

for i in range(len(sarima_forecasted_temp_df)):
    forecast_temp = sarima_temperature_forecast[i]
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    suitable_crops, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 충청남_crops)
    suitable_crops_all, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 충청남_crops)
    충청남_suit.append(suitable_crops)
    전체_suit.append(suitable_crops_all)
    reasons_forecast.append(reasons)

충청남_suit

[['노지딸기', '노지참외', '수박', '오이', '토마토'], ['노지참외', '수박'], ['가을일반무', '노지가을무']]

In [26]:
경기_crops = crop[crop['지역'] == '경기도']

경기_suit = []
reasons_forecast = []

for i in range(len(sarima_forecasted_temp_df)):
    forecast_temp = sarima_temperature_forecast[i]
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    suitable_crops, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 경기_crops)
    경기_suit.append(suitable_crops)
    suitable_crops_all, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 경기_crops)
    전체_suit.append(suitable_crops_all)
    reasons_forecast.append(reasons)

경기_suit

[[], [], ['가을총각무', '상추']]

In [27]:
경상북_crops = crop[crop['지역'] == '경상북도']

경상북_suit = []
reasons_forecast = []

for i in range(len(sarima_forecasted_temp_df)):
    forecast_temp = sarima_temperature_forecast[i]
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    suitable_crops, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 경상북_crops)
    경상북_suit.append(suitable_crops)
    suitable_crops_all, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 경상북_crops)
    전체_suit.append(suitable_crops_all)
    reasons_forecast.append(reasons)

경상북_suit

[['건고추', '노지수박', '마늘', '봄감자', '사과', '생강', '참외'], ['건고추', '노지수박', '생강'], ['사과']]

In [28]:
강원_crops = crop[crop['지역'] == '강원도']

강원_suit = []
reasons_forecast = []

for i in range(len(sarima_forecasted_temp_df)):
    forecast_temp = sarima_temperature_forecast[i]
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    suitable_crops, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 강원_crops)
    강원_suit.append(suitable_crops)
    suitable_crops_all, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 강원_crops)
    전체_suit.append(suitable_crops_all)
    reasons_forecast.append(reasons)

강원_suit

[['노지오이', '옥수수'], ['노지오이', '옥수수'], ['잡곡']]

In [29]:
경상남_crops = crop[crop['지역'] == '경상남도']

경상남_suit = []
reasons_forecast = []

for i in range(len(sarima_forecasted_temp_df)):
    forecast_temp = sarima_temperature_forecast[i]
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    suitable_crops, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 경상남_crops)
    경상남_suit.append(suitable_crops)
    suitable_crops_all, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 경상남_crops)
    전체_suit.append(suitable_crops_all)
    reasons_forecast.append(reasons)

경상남_suit

[['고추', '노지시금치', '풋고추'], ['고추', '풋고추'], ['노지시금치']]

In [30]:
제주_crops = crop[crop['지역'] == '제주도']

제주_suit = []
reasons_forecast = []

for i in range(len(sarima_forecasted_temp_df)):
    forecast_temp = sarima_temperature_forecast[i]
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    suitable_crops, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 제주_crops)
    제주_suit.append(suitable_crops)
    suitable_crops_all, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 제주_crops)
    전체_suit.append(suitable_crops_all)
    reasons_forecast.append(reasons)

제주_suit

[['기타잡곡', '메밀'], [], ['기타잡곡', '메밀', '무']]

In [31]:
전라남_crops = crop[crop['지역'] == '전라남도']

전라남_suit = []
reasons_forecast = []

for i in range(len(sarima_forecasted_temp_df)):
    forecast_temp = sarima_temperature_forecast[i]
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    suitable_crops, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 전라남_crops)
    전라남_suit.append(suitable_crops)
    suitable_crops_all, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 전라남_crops)
    전체_suit.append(suitable_crops_all)
    reasons_forecast.append(reasons)

전라남_suit

[['노지배추', '노지쪽파', '노지호박', '녹두', '미곡', '배', '양파', '조미채소', '팥', '호박'],
 ['노지호박', '녹두', '미곡'],
 ['노지가을배추', '노지쪽파', '배', '배추', '팥', '호박']]

In [32]:
전라북_crops = crop[crop['지역'] == '전라북도']

전라북_suit = []
reasons_forecast = []

for i in range(len(sarima_forecasted_temp_df)):
    forecast_temp = sarima_temperature_forecast[i]
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    suitable_crops, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 전라북_crops)
    전라북_suit.append(suitable_crops)
    suitable_crops_all, reasons = check_crop_suitability_sarima(forecast_temp, forecast_date, 전라북_crops)
    전체_suit.append(suitable_crops_all)
    reasons_forecast.append(reasons)

전라북_suit

[['콩'], [], ['콩']]

In [33]:
전체_suit[0]

['노지딸기', '노지참외', '수박', '오이', '토마토']

In [34]:
전체_suit_월=[[],[],[]]
for i in range(len(전체_suit)):
    if i%3==0:
        전체_suit_월[0].append(전체_suit[i])
    elif i%3==1:
        전체_suit_월[1].append(전체_suit[i])
    else:
        전체_suit_월[2].append(전체_suit[i])
        
전체_suit_월[0]

[['노지딸기', '노지참외', '수박', '오이', '토마토'],
 [],
 ['건고추', '노지수박', '마늘', '봄감자', '사과', '생강', '참외'],
 ['노지오이', '옥수수'],
 ['고추', '노지시금치', '풋고추'],
 ['기타잡곡', '메밀'],
 ['노지배추', '노지쪽파', '노지호박', '녹두', '미곡', '배', '양파', '조미채소', '팥', '호박'],
 ['콩']]

In [35]:
전체_suit_월[1]

[['노지참외', '수박'],
 [],
 ['건고추', '노지수박', '생강'],
 ['노지오이', '옥수수'],
 ['고추', '풋고추'],
 [],
 ['노지호박', '녹두', '미곡'],
 []]

In [36]:
전체_suit_월[2]

[['가을일반무', '노지가을무'],
 ['가을총각무', '상추'],
 ['사과'],
 ['잡곡'],
 ['노지시금치'],
 ['기타잡곡', '메밀', '무'],
 ['노지가을배추', '노지쪽파', '배', '배추', '팥', '호박'],
 ['콩']]

In [37]:
crop_substitution = {
    
    '무': ['오이','당근'],
    '오이': ['무','당근'],
    '당근': ['무','오이'],


    '배추': ['상추','시금치','양배추'],
    '상추': ['배추','시금치','양배추'],
    '시금치': ['상추','배추','양배추'],
    '양배추': ['상추','시금치','배추'],


    '옥수수': ['메밀','녹두','팥'],
    '메밀': ['옥수수','녹두','팥'],
    '녹두': ['메밀','옥수수','팥'],
    '팥': ['메밀','녹두','옥수수'],


    '대파': ['쪽파', '양파','마늘','생강'],
    '쪽파': ['대파', '양파','마늘','생강'],
    '양파': ['쪽파', '대파','마늘','생강'],
    '마늘': ['쪽파', '양파','대파','생강'],
    '생강': ['쪽파', '양파','마늘','대파'],
    
    
    '딸기': ['배','사과','토마토','수박','참외'],
    '배': ['딸기','사과','토마토','수박','참외'],
    '사과': ['배','딸기','토마토','수박','참외'],
    '토마토': ['배','사과','딸기','수박','참외'],
    '수박': ['배','사과','토마토','딸기','참외'],
    '참외': ['배','사과','토마토','수박','딸기']

}

In [38]:
def get_substitute_crops(crop_name):
    return crop_substitution.get(crop_name, [])

def check_crop_suitability(forecast_temp, forecast_date, crop_conditions):
    suitable_crops = []
    unsuitable_crops = []
    reasons = {}
    forecast_month = forecast_date.month
    for _, row in crop_conditions.iterrows():
        crop_name = row['작물명']
        planting_month = row['파종기']
        harvesting_month = row['수확기']
        
        reasons[crop_name] = []
        
        if not (planting_month - 1 <= forecast_month <= harvesting_month + 1):
            reasons[crop_name].append(f"Not within planting ({planting_month}) and harvesting ({harvesting_month}) period.")
        
        if not (row['생육기 최저 온도'] - 1 <= forecast_temp <= row['생육기 최고 온도'] + 1):
            reasons[crop_name].append(f"Temperature {forecast_temp:.2f}°C not in growing range ({row['생육기 최저 온도']}°C - {row['생육기 최고 온도']}°C).")
        
        if not reasons[crop_name]:
            suitable_crops.append(crop_name)
        else:
            unsuitable_crops.append(crop_name)
            reasons[crop_name] = ", ".join(reasons[crop_name])
    
    return suitable_crops, unsuitable_crops, reasons

suitable_crops_overall = []
unsuitable_crops_overall = []
reasons_forecast = []

for i in range(len(sarima_forecasted_temp_df)):
    forecast_temp = sarima_temperature_forecast[i]
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    suitable_crops, unsuitable_crops, reasons = check_crop_suitability(forecast_temp, forecast_date, crop)
    suitable_crops_overall.append(suitable_crops)
    unsuitable_crops_overall.append(unsuitable_crops)
    reasons_forecast.append(reasons)


alternative_crops_recommendations = []

for i, unsuitable_crops in enumerate(unsuitable_crops_overall):
    forecast_date = sarima_forecasted_temp_df['DATE'][i]
    forecast_temp = sarima_temperature_forecast[i]
    for crop_name in unsuitable_crops:
        substitutes = get_substitute_crops(crop_name)
        for substitute in substitutes:
            if substitute in suitable_crops_overall[i]:
                alternative_crops_recommendations.append({
                    'original_crop': crop_name,
                    'forecast_date': forecast_date,
                    'forecast_temp': forecast_temp,
                    'substitute_crop': substitute
                })
                break

alternative_crops_recommendations

[{'original_crop': '당근',
  'forecast_date': Timestamp('2024-07-31 00:00:00'),
  'forecast_temp': 25.517414835452573,
  'substitute_crop': '오이'},
 {'original_crop': '대파',
  'forecast_date': Timestamp('2024-07-31 00:00:00'),
  'forecast_temp': 25.517414835452573,
  'substitute_crop': '양파'},
 {'original_crop': '딸기',
  'forecast_date': Timestamp('2024-07-31 00:00:00'),
  'forecast_temp': 25.517414835452573,
  'substitute_crop': '배'},
 {'original_crop': '무',
  'forecast_date': Timestamp('2024-07-31 00:00:00'),
  'forecast_temp': 25.517414835452573,
  'substitute_crop': '오이'},
 {'original_crop': '쪽파',
  'forecast_date': Timestamp('2024-07-31 00:00:00'),
  'forecast_temp': 25.517414835452573,
  'substitute_crop': '양파'},
 {'original_crop': '대파',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '생강'},
 {'original_crop': '딸기',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '수박'},
 {'original_crop': '마늘',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '생강'},
 {'original_crop': '메밀',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '옥수수'},
 {'original_crop': '배',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '수박'},
 {'original_crop': '사과',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '수박'},
 {'original_crop': '양파',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '생강'},
 {'original_crop': '쪽파',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '생강'},
 {'original_crop': '참외',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '수박'},
 {'original_crop': '토마토',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '수박'},
 {'original_crop': '팥',
  'forecast_date': Timestamp('2024-08-31 00:00:00'),
  'forecast_temp': 26.19882997385732,
  'substitute_crop': '녹두'},
 {'original_crop': '녹두',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '메밀'},
 {'original_crop': '당근',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '무'},
 {'original_crop': '딸기',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '배'},
 {'original_crop': '수박',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '배'},
 {'original_crop': '시금치',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '상추'},
 {'original_crop': '양배추',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '상추'},
 {'original_crop': '오이',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '무'},
 {'original_crop': '옥수수',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '메밀'},
 {'original_crop': '참외',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '배'},
 {'original_crop': '토마토',
  'forecast_date': Timestamp('2024-09-30 00:00:00'),
  'forecast_temp': 21.516735814753517,
  'substitute_crop': '배'}]

In [40]:
def get_suitable_crops_for_july(suitable_crops_overall, forecast_dates):
    suitable_crops_july = []
    for i, date in enumerate(forecast_dates):
        if date.month == 7:
            suitable_crops_july.extend(suitable_crops_overall[i])
    return list(set(suitable_crops_july))  # 중복 제거 후 반환


# 7월에 적합한 작물 찾기
suitable_crops_july = get_suitable_crops_for_july(suitable_crops_overall, sarima_forecasted_temp_df['DATE'])

print("7월에 생산이 괜찮은 작물:")
for crop in suitable_crops_july:
    print(crop)

7월에 생산이 괜찮은 작물:
노지호박
옥수수
건고추
조미채소
노지시금치
노지쪽파
미곡
풋고추
오이
고추
노지딸기
사과
노지수박
배
생강
메밀
노지참외
노지토마토
양파
참외
노지배추
마늘
팥
수박
녹두
기타잡곡
노지오이
호박
콩
봄감자
토마토

In [42]:
def get_suitable_crops_for_july(suitable_crops_overall, forecast_dates):
    suitable_crops_july = []
    for i, date in enumerate(forecast_dates):
        if date.month == 8:
            suitable_crops_july.extend(suitable_crops_overall[i])
    return list(set(suitable_crops_july))  # 중복 제거 후 반환


suitable_crops_july = get_suitable_crops_for_july(suitable_crops_overall, sarima_forecasted_temp_df['DATE'])

print("8월에 생산이 괜찮은 작물:")
for crop in suitable_crops_july:
    print(crop)

8월에 생산이 괜찮은 작물:
녹두
고추
노지오이
노지수박
노지호박
옥수수
건고추
생강
노지참외
수박
미곡
풋고추

In [43]:
def get_suitable_crops_for_july(suitable_crops_overall, forecast_dates):
    suitable_crops_july = []
    for i, date in enumerate(forecast_dates):
        if date.month == 9:
            suitable_crops_july.extend(suitable_crops_overall[i])
    return list(set(suitable_crops_july))  # 중복 제거 후 반환


suitable_crops_july = get_suitable_crops_for_july(suitable_crops_overall, sarima_forecasted_temp_df['DATE'])

print("9월에 생산이 괜찮은 작물:")
for crop in suitable_crops_july:
    print(crop)

9월에 생산이 괜찮은 작물:
노지가을무
기타잡곡
팥
사과
잡곡
상추
무
배
호박
콩
가을총각무
노지가을배추
노지시금치
노지쪽파
가을일반무
메밀
노지토마토
배추