In [1]:
import requests
import io
import requests
import pandas as pd

In [2]:
# 재배량 데이터 가져오기 - 채소생산량 (과채류)
url_amount = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NjkyNDcyNjg0YWE0OWM4MDZiYTFmNGNlMjM5ZjVjOGI=&itmId=T01+T66+T02+T03+T05+T06+T07+T08+T09+T10+T11+T12+T14+T15+T16+T17+T18+T19+T20+T21+T23+T24+T25+T26+T27+T28+T29+T30+T32+T33+T34+T35+T36+T37+T38+T39+T41+T42+T43+T44+T45+T46+T47+T48+T50+T52+T54+T56+T58+T60+T62+T63+T64+T65+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=10&prdInterval=1&outputFields=NM+ITM_NM+UNIT_NM+PRD_DE+&orgId=101&tblId=DT_1ET0027"
response = requests.get(url_amount)

# JSON 데이터를 파싱
json_data = response.json()

# 데이터프레임으로 변환
data_vegefruit = pd.DataFrame(json_data)

# 주어진 컬럼 이름 설정
data_vegefruit.columns = [
    "생산량", "년도",  "지역", "작물명","단위"
]

# 데이터프레임 출력
data_vegefruit

             생산량    년도   지역        작물명  단위
0          46432  2013    계     과채류:면적  ha
1          50097  2014    계     과채류:면적  ha
2          48784  2015    계     과채류:면적  ha
3          44661  2016    계     과채류:면적  ha
4     41942.5045  2017    계     과채류:면적  ha
...          ...   ...  ...        ...  ..
8845        4064  2018  제주도  시설토마토:생산량   톤
8846        3541  2019  제주도  시설토마토:생산량   톤
8847        3263  2020  제주도  시설토마토:생산량   톤
8848        3772  2021  제주도  시설토마토:생산량   톤
8849        2714  2022  제주도  시설토마토:생산량   톤

[8850 rows x 5 columns]

In [3]:
# 재배량 데이터 가져오기 - 채소생산량(엽채류)
url_amount = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NjkyNDcyNjg0YWE0OWM4MDZiYTFmNGNlMjM5ZjVjOGI=&itmId=T02+T04+T06+T10+T12+T14+T16+T18+T20+T22+T24+T26+T28+T30+T32+T34+T36+T38+T40+T95+T96+T97+T42+T44+T46+T48+T52+T54+T56+T58+T60+T62+T64+T66+T70+T72+T74+T76+T78+T80+T82+T84+T86+T88+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=10&outputFields=NM+ITM_NM+UNIT_NM+PRD_DE+&orgId=101&tblId=DT_1ET0028"
response = requests.get(url_amount)

json_data = response.json()

data_leafy = pd.DataFrame(json_data)

data_leafy.columns = [
    "생산량", "년도",  "지역", "작물명","단위"
]

data_leafy

             생산량    년도   지역         작물명  단위
0          49043  2014    계      엽채류:면적  ha
1          43747  2015    계      엽채류:면적  ha
2          40203  2016    계      엽채류:면적  ha
3     47351.8003  2017    계      엽채류:면적  ha
4     47905.6578  2018    계      엽채류:면적  ha
...          ...   ...  ...         ...  ..
7871        3453  2019  제주도  노지겨울배추:생산량   톤
7872        3310  2020  제주도  노지겨울배추:생산량   톤
7873        2301  2021  제주도  노지겨울배추:생산량   톤
7874        3727  2022  제주도  노지겨울배추:생산량   톤
7875           0  2023  제주도  노지겨울배추:생산량   톤

[7876 rows x 5 columns]

In [4]:
# 재배량 데이터 가져오기 - 채소생산량(근채류)
url_amount = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NjkyNDcyNjg0YWE0OWM4MDZiYTFmNGNlMjM5ZjVjOGI=&itmId=T02+T04+T06+T10+T12+T14+T16+T18+T20+T22+T24+T26+T28+T30+T32+T34+T36+T38+T40+T42+T44+T46+T48+T50+T52+T72+T73+T74+T54+T56+T58+T60+T62+T64+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=10&outputFields=NM+ITM_NM+UNIT_NM+PRD_DE+&orgId=101&tblId=DT_1ET0029"
response = requests.get(url_amount)

json_data = response.json()

data_root = pd.DataFrame(json_data)

data_root.columns = [
    "생산량", "년도",  "지역", "작물명","단위"
]

data_root

             생산량    년도   지역        작물명  단위
0          23427  2014    계     근채류:면적  ha
1          23220  2015    계     근채류:면적  ha
2          21485  2016    계     근채류:면적  ha
3     24934.5177  2017    계     근채류:면적  ha
4     25559.4802  2018    계     근채류:면적  ha
...          ...   ...  ...        ...  ..
6047      390373  2019  제주도  노지겨울무:생산량   톤
6048      418214  2020  제주도  노지겨울무:생산량   톤
6049      392277  2021  제주도  노지겨울무:생산량   톤
6050      406436  2022  제주도  노지겨울무:생산량   톤
6051           0  2023  제주도  노지겨울무:생산량   톤

[6052 rows x 5 columns]

In [5]:
# 재배량 데이터 가져오기 - 채소생산량(조미채소)
url_amount = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NjkyNDcyNjg0YWE0OWM4MDZiYTFmNGNlMjM5ZjVjOGI=&itmId=T02+T93+T04+T06+T08+T10+T12+T14+T16+T18+T20+T22+T26+T28+T30+T32+T34+T36+T38+T40+T42+T44+T46+T48+T50+T52+T54+T56+T58+T60+T62+T64+T66+T68+T70+T72+T74+T76+T78+T80+T82+T84+T86+T88+T90+T92+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=10&outputFields=NM+ITM_NM+UNIT_NM+PRD_DE+&orgId=101&tblId=DT_1ET0291"
response = requests.get(url_amount)

json_data = response.json()

data_seasoned = pd.DataFrame(json_data)

data_seasoned.columns = [
    "생산량", "년도",  "지역", "작물명","단위"
]

data_seasoned

              생산량    년도   지역      작물명  단위
0          108237  2014    계  조미채소:면적  ha
1           95708  2015    계  조미채소:면적  ha
2           96586  2016    계  조미채소:면적  ha
3      97918.1158  2017    계  조미채소:면적  ha
4     109303.6066  2018    계  조미채소:면적  ha
...           ...   ...  ...      ...  ..
8005   28491.3904  2019  제주도   마늘:생산량   톤
8006   31290.9838  2020  제주도   마늘:생산량   톤
8007    19415.366  2021  제주도   마늘:생산량   톤
8008   16289.2928  2022  제주도   마늘:생산량   톤
8009   17521.3869  2023  제주도   마늘:생산량   톤

[8010 rows x 5 columns]

In [6]:
# 재배량 데이터 가져오기 - 과일생산량(성과수)
url_amount = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NjkyNDcyNjg0YWE0OWM4MDZiYTFmNGNlMjM5ZjVjOGI=&itmId=T01+T02+T06+T08+T10+T12+T14+T16+T18+T20+T22+T24+T26+T28+T30+T32+T34+T36+T38+T40+T42+T44+T46+T48+T50+T52+T54+T56+T58+T66+T68+T70+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=10&outputFields=NM+ITM_NM+UNIT_NM+PRD_DE+&orgId=101&tblId=DT_1ET0296"
response = requests.get(url_amount)

json_data = response.json()

data_fruit = pd.DataFrame(json_data)

data_fruit.columns = [
    "생산량", "년도",  "지역", "작물명","단위"
]

data_fruit

              생산량    년도   지역    작물명  단위
0          103068  2014    계  합계:면적  ha
1          103547  2015    계  합계:면적  ha
2          109002  2016    계  합계:면적  ha
3     107120.0199  2017    계  합계:면적  ha
4     105551.1697  2018    계  합계:면적  ha
...           ...   ...  ...    ...  ..
5751          712  2019  제주도    생산량   톤
5752     760.5823  2020  제주도    생산량   톤
5753          314  2021  제주도    생산량   톤
5754          299  2022  제주도    생산량   톤
5755            -  2023  제주도    생산량   톤

[5756 rows x 5 columns]

In [7]:
# 재배량 데이터 가져오기 - 식량작물 생산량(정곡)
url_amount = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NjkyNDcyNjg0YWE0OWM4MDZiYTFmNGNlMjM5ZjVjOGI=&itmId=T03+T37+T06+T09+T38+T12+T15+T42+T18+T21+T39+T24+T27+T40+T30+T33+T41+T36+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=10&outputFields=NM+ITM_NM+UNIT_NM+PRD_DE+&orgId=101&tblId=DT_1ET0021"
response = requests.get(url_amount)

json_data = response.json()

data_rice = pd.DataFrame(json_data)

data_rice.columns = [
    "생산량", "년도",  "지역", "작물명","단위"
]

data_rice

KeyboardInterrupt:

In [ ]:
# 재배량 데이터 가져오기 - 잡곡생산량
url_amount = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NjkyNDcyNjg0YWE0OWM4MDZiYTFmNGNlMjM5ZjVjOGI=&itmId=T03+T36+T05+T07+T09+T11+T13+T15+T17+T19+T21+T23+T25+T27+T29+T31+T33+T35+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=10&outputFields=NM+ITM_NM+UNIT_NM+PRD_DE+&orgId=101&tblId=DT_1ET0024"
response = requests.get(url_amount)

json_data = response.json()

data_grain = pd.DataFrame(json_data)

data_grain.columns = [
    "생산량", "년도",  "지역", "작물명","단위"
]

data_grain

In [ ]:
# 재배량 데이터 가져오기 - 두류생산량

url_amount = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NjkyNDcyNjg0YWE0OWM4MDZiYTFmNGNlMjM5ZjVjOGI=&itmId=T03+T33+T05+T07+T09+T11+T13+T15+T17+T19+T21+T23+T25+T27+T29+T30+T31+T32+T34+T35+T36+T37+T38+T39+T40+T41+T42+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=10&outputFields=NM+ITM_NM+UNIT_NM+PRD_DE+&orgId=101&tblId=DT_1ET0025"
response = requests.get(url_amount)

json_data = response.json()

data_pulse = pd.DataFrame(json_data)

data_pulse.columns = [
    "생산량", "년도",  "지역", "작물명","단위"
]

data_pulse

In [ ]:
# 재배량 데이터 가져오기 - 서류생산량

url_amount = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NjkyNDcyNjg0YWE0OWM4MDZiYTFmNGNlMjM5ZjVjOGI=&itmId=T03+T68+T05+T09+T11+T15+T19+T21+T25+T39+T41+T45+T49+T51+T55+T59+T61+T65+&objL1=ALL&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=10&outputFields=NM+ITM_NM+UNIT_NM+PRD_DE+&orgId=101&tblId=DT_1ET0026"
response = requests.get(url_amount)

json_data = response.json()

data_potato = pd.DataFrame(json_data)

data_potato.columns = [
    "생산량", "년도",  "지역", "작물명","단위"
]

data_potato

In [ ]:
# 데이터프레임 합치기
data_combined = pd.concat([data_vegefruit,data_leafy, data_root, data_seasoned, data_fruit,data_rice, data_grain, data_potato, data_pulse], ignore_index=True)

# DataFrame을 CSV 파일로 저장
data_combined.to_csv('./csv/생산량.csv', index=False)

data_combined

In [35]:
#생산량이 많은 지역 추출
data_combined=pd.read_csv('./csv/생산량.csv')

# 생산량을 숫자로 변환 (소수점이 포함된 값이 있으므로 이를 처리)
data_combined['생산량'] = pd.to_numeric(data_combined['생산량'], errors='coerce')

# NaN 값 제거
data_combined = data_combined.dropna(subset=['생산량'])

# '면적'이 포함된 행 제거
data_filtered = data_combined[~data_combined['작물명'].str.contains('면적')]

# '합계'가 포함된 행 제거
data_filtered2 = data_filtered[~data_filtered['작물명'].str.contains('합계')]

# '10a당'이 포함된 행 제거
data_filtered3 = data_filtered2[~data_filtered2['작물명'].str.contains('10a당')]

# '류'가 포함된 행 제거
data_filtered4 = data_filtered3[~data_filtered3['작물명'].str.contains('류')]

# '계'가 포함된 행 제거
data_filtered_last = data_filtered4[~data_filtered4['지역'].str.contains('계')]

# 작물명별로 그룹화하고, 각 그룹에서 생산량이 가장 많은 지역 추출
max_production_by_crop = data_filtered_last.loc[data_filtered_last.groupby('작물명')['생산량'].idxmax()]

# 필요한 열만 선택하여 출력
max_production_by_crop_result = max_production_by_crop[['작물명', '지역']]

# '작물명'에서 ':생산량' 제거
max_production_by_crop_result['작물명'] = max_production_by_crop_result['작물명'].str.replace(':생산량', '')

max_production_by_crop_result.index = range(1, len(max_production_by_crop_result) + 1)
max_production_by_crop_result.to_csv('./csv/ingredients_area.csv', index=False)
max_production_by_crop_result

C:\Users\sunk2\AppData\Local\Temp\ipykernel_12744\72189357.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  max_production_by_crop_result['작물명'] = max_production_by_crop_result['작물명'].str.replace(':생산량', '')

      작물명    지역
1   가을일반무  충청남도
2   가을총각무   경기도
3     건고추  경상북도
4   고랭지감자   강원도
5    고랭지무   강원도
..    ...   ...
69    토마토  충청남도
70      파  전라남도
71      팥  전라남도
72    풋고추  경상남도
73     호박  전라남도

[73 rows x 2 columns]

In [34]:
# '지역' 컬럼의 고유 값 확인
unique_regions = max_production_by_crop_result['지역'].unique()
unique_regions_df = pd.DataFrame(unique_regions, columns=['지역'])
unique_regions_df.to_csv('./csv/unique_regions.csv', index=True)
unique_regions_df

      지역
0   충청남도
1    경기도
2   경상북도
3    강원도
4   경상남도
5    제주도
6   전라남도
7  서울특별시
8   전라북도

In [3]:
#추가 작업 수행
#ingredients_area에 있는 작물명과 지역을 매칭해서 production에 그것들만 살리기

import pandas as pd

ingredients_area=pd.read_csv('./csv/ingredients_area.csv')
production=pd.read_csv('./csv/production.csv')

In [7]:
ingredients_area

      작물명    지역
0   가을일반무  충청남도
1   가을총각무   경기도
2     건고추  경상북도
3   고랭지감자   강원도
4    고랭지무   강원도
..    ...   ...
68    토마토  충청남도
69      파  전라남도
70      팥  전라남도
71    풋고추  경상남도
72     호박  전라남도

[73 rows x 2 columns]

In [8]:
production

        생산량    년도     지역 작물명 단위
0       4.0  2017  서울특별시  수박  톤
1       2.0  2018  서울특별시  수박  톤
2       2.0  2019  서울특별시  수박  톤
3       1.0  2020  서울특별시  수박  톤
4       8.0  2021  서울특별시  수박  톤
...     ...   ...    ...  .. ..
11565  49.0  2018    제주도  녹두  톤
11566  99.0  2019    제주도  녹두  톤
11567  18.0  2020    제주도  녹두  톤
11568  27.0  2021    제주도  녹두  톤
11569  12.0  2022    제주도  녹두  톤

[11570 rows x 5 columns]

In [20]:
production_match_area=pd.merge(ingredients_area, production)
production_match_area.to_csv('./csv/production_match_area.csv',index=False)
production_match_area

       작물명    지역       생산량    년도 단위
0    가을일반무  충청남도   76430.0  2014  톤
1    가을일반무  충청남도  123235.0  2015  톤
2    가을일반무  충청남도   67663.0  2016  톤
3    가을일반무  충청남도   75005.0  2017  톤
4    가을일반무  충청남도   55695.0  2018  톤
..     ...   ...       ...   ... ..
752     호박  전라남도   60156.0  2018  톤
753     호박  전라남도   69122.0  2019  톤
754     호박  전라남도   74785.0  2020  톤
755     호박  전라남도   33804.0  2021  톤
756     호박  전라남도   45586.0  2022  톤

[757 rows x 5 columns]